<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.maxistar.textpad.workspace.WorkspaceTestProvider"
            android:authorities="com.maxistar.textpad.workspace.test"
            android:exported="true" />
    </application>
</manifest>
