html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href='https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css', integrity='sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=', crossorigin='anonymous')
    title= 'Home'
  body
    div.top-bar
      div.top-bar-left
        ul.menu
          li.menu-text 
            | Simple Text Editor
          li
            a(href='/about/')
              | About
    div(class='callout large primary')
      div.text-center
        h1  Simple Text Editor
        h2.subheader  Just one more simple text editor for android
    
    article.grid-container
      each article in pagination.files
        div(class= 'grid-x align-center')
          div(class= 'cell medium-8')
            div.blog-post
              h3
                a(href='/' + article.path)= article.title 
              div.grid-x
                div(class='cell small-5')
                  img.thumbnail(src= article.previewImage)
                div(class='cell small-7')
                  p= article.address
                  p= article.snippet


              div.callout
                ul( class='menu simple')
                  li
                    a(href='/' + article.path) Author: 
                      = article.author

      nav
        if pagination.previous
          a.btn(href='/' + pagination.previous.path)
            | Newer
        if pagination.next
          a.btn(href='/' + pagination.next.path)
            | Older
      
      div(class='grid-x align-justify align-middle')
        div(class='small-12 medium-shrink cell')
          ul.menu
            li.align-self-middle Street Art Map
            li 
              a(href='/about/') About
        
        div(class='small-12 medium-shrink cell')
          |  Copyright 2021

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js')
    script
      | $(document).foundation();